<div class="center jumbotron">
  <%= link_to image_tag "http://www.reviewcompany.vn/public/media/uploads/
    company/large_logo/2014-08-21/dcf5ee9e-6673-4e6d-8ca9-ab27ee33bd3b.png",
    class: "img-thumbnail" %>
  <center><h1><%= t "header.logo" %></h1></center>
</div>
